<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <footer class="footer fixed-bottom bg-light">
        <div class="container p-3">
            <span class="text-muted">©Jason Reinerie All Rights Reserved</span>
            <a class="text-decoration-none text-dark float-right" href="#">Contact</a>
        </div>
    </footer>
</body>
</html>
