<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar bg-dark p-0 m-0">
        <div class="container-fluid">
            <div class="p-3">
                <a class="px-3 py-3 text-decoration-none text-light" href="{{ path('homepage') }}">Home</a>
                <a class="px-3 py-3 text-decoration-none text-light" href="#">Sort Visualisation</a>
                <a class="px-3 py-3 text-decoration-none text-light" href="#">Project 2</a>
            </div>
            <div class="p-3 float-right">
                <a class="px-3 py-3 text-decoration-none text-light" href="#">Contact</a>
            </div>
        </div>
    </nav>
</body>
</html>
